<h1>Word Counter</h1>

<form action="/word_count" method='post'>
  <div class=form-group>
    <label for="string">Enter a string</label>
    <input type="text" name="string" class='form-control'>
    <br>
    <label for="test_word">Enter a test word</label>
    <input type="text" name="test_word" class='form-control'>

  </div>
  <button type='submit' class='btn btn-success'>Send</button>
</form>
